@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --gray: "#F6F6F6";
}

body,
html {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  transition: 0.2s;
}
