{
  "env": {
    "node": true,
    "browser": true,
    "es6": true
  },
  "parser": "babel-eslint",
  "extends": ["airbnb", "plugin:@typescript-eslint/recommended"],
  "plugins": ["react", "@typescript-eslint"],
  "settings": {
    "import/resolver": {
      "node": {
        "moduleDirectory": ["node_modules"],
        "extensions": [".js", ".jsx", ".ts", ".tsx"],
        "paths": ["./src", "./pages"]
      }
    }
  },
  "globals": {
    "React": "writable"
  },
  "rules": {
    "linebreak-style": "off",
    "object-curly-newline": "off",
    "quotes": ["error", "double"],
    "@typescript-eslint/explicit-module-boundary-types": "off",
    "implicit-arrow-linebreak": "off",
    "react/jsx-props-no-spreading": "off",
    "no-alert": "off",
    "react/prop-types": "off",
    "react/react-in-jsx-scope": "off",
    "no-console": ["error", { "allow": ["warn", "error"] }],
    "react/jsx-filename-extension": [2, { "extensions": [".ts", ".tsx"] }],
    "no-use-before-define": [
      "error",
      { "functions": true, "classes": true, "variables": false }
    ],
    "import/extensions": [
      "error",
      "ignorePackages",
      {
        "ts": "never",
        "tsx": "never"
      }
    ]
  }
}
